@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 45 5% 69%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 15;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20;
    --input: 0 0% 20;
    --ring: 0 0% 40;

    --radius: 0.5rem;

    --cell-height: 10px;
    --cell-width: 10px;
    --cell-margin: 1.3px;
    --cell-weekdays-width: 30px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .timeline {
    margin: 8px;
    /* margin-bottom: 60px; */
  }

  .timeline-months {
    display: flex;
    padding-left: var(--cell-weekdays-width);
  }

  .timeline-months-month {
    width: var(--cell-width);
    margin: 0.7px;
    border: 1px solid transparent;
    font-size: 10px;
  }

  .Jan ~ .Jan,
  .Feb ~ .Feb,
  .Mar ~ .Mar,
  .Apr ~ .Apr,
  .May ~ .May,
  .Jun ~ .Jun,
  .Jul ~ .Jul,
  .Aug ~ .Aug,
  .Sep ~ .Sep,
  .Oct ~ .Oct,
  .Nov ~ .Nov,
  .Dec ~ .Dec {
    visibility: hidden;
  }

  .timeline-body {
    display: flex;
  }

  .timeline-weekdays {
    display: inline-flex;
    flex-direction: column;
    width: var(--cell-weekdays-width);
  }

  .timeline-weekdays-weekday {
    font-size: 10px;
    height: var(--cell-height);
    border: 1px solid transparent;
    margin: var(--cell-margin);
    vertical-align: middle;
  }

  .timeline-cells {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc((10 + 4) * 8px);
  }

  .timeline-cells-cell {
    height: var(--cell-height);
    width: var(--cell-width);

    border: 1px solid hsl(0 0% 10);
    margin: var(--cell-margin);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  /* .timeline-cells-cell:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
  } */
}
